{% load staticfiles %}
<html>
<head>
    <link rel="icon" type="image/png" href="../../static/img/tablogo.png">
    <link href="https://fonts.googleapis.com/css?family=Redressed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Suez+One" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sansita+One" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
    {% if multiplier >= 1.5272 %}
        <img class="background" src="../../static/img/bkg2_prod_last.jpg" alt="">
    {% endif %}
        <div class="header">
            {% if multiplier < 1.5272 %}
                <img class="header-background" src="../../static/img/top.jpg">
            {% endif %}
        </div>
        <div class="content">
            {% if multiplier < 1.5272 %}
                <img class="content-background" src="../../static/img/sample.jpg">
            {% endif %}
            {% block content %}

            {% endblock %}
        </div>
        <div class="footer">
            {% if multiplier < 1.5272 %}
                <img class="footer-background" src="../../static/img/bot.jpg">
            {% endif %}
        </div>
    </div>
</body>
</html>
