{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description"
          content="genferbörse ist heute einer der führenden Binären Optionen Handelsplattform der Welt, gleichzeitig werden Binäre Optionen immer beliebter als Whiteoption bietet Händlern mit ausgezeichneten Händler Erfahrung im Bezug auf Anonymität und Sicherheit rundum Ausstattung, und bitetet eine anwenderfreundliche Platform , Werkzeuge und optimale Bildung"/>
    <title>Genfer Börse | führende globale Brokerage-Unternehmen</title>
    <link rel="icon" type="image/png" href="../../static/img/tablogo.png">
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Redressed|Allerta+Stencil|Teko|Black+Ops+One|Alfa+Slab+One|Germania+One|Dancing+Script|Suez+One|Sansita+One|Bungee+Inline"
          rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/page_style.css">
    <title>Document</title>
</head>
<body>
<div class="conteiner">
    <div class="conteiner__sponsors">
        <img class="conteiner__sponsor" src="../../static/img/sponsors/barclays.png" alt="">
        <img class="conteiner__sponsor" src="../../static/img/sponsors/dowjones.png" alt="">
        <img class="conteiner__sponsor conteiner__sponsor_london" src="../../static/img/sponsors/london.png" alt="">
        <img class="conteiner__sponsor conteiner__sponsor_reuters" src="../../static/img/sponsors/reuters.png" alt="">
        <img class="conteiner__sponsor conteiner__sponsor_nasdaq" src="../../static/img/sponsors/nasdaq.png" alt="">
    </div>
    <img class="conteiner__logo conteiner__logo_left" src="../../static/img/logo.jpg" alt="">
    <img class="conteiner__logo conteiner__logo_right" src="../../static/img/logo.jpg" alt="">
    <img class="conteiner__center-img" src="../../static/img/cent.png" alt="">
    <p class="name">NEHMEN SIE AKTIV TEIL AN DER BÖRSE MIT UNS</p>
    {% block content %}
    {% endblock %}
</div>
<img class="conteiner__bottom-img" src="../../static/img/genevastamp.png" alt="">
<img class=" footer-sponsor footer-sponsors-left" src="../../static/img/sponsors/footer-sponsors-left.png">
<img class="footer-sponsor footer-sponsors-right" src="../../static/img/sponsors/footer-sponsors-right.png">
<div class='footer'>
    <ul class="footer-elements">
        <li class='footer-element'><a class='footerbutton' href='/about.html'>Über uns</a></li>
        <li class='footer-element'><a class='footerbutton' href='/'>Hilfe</a></li>
        <li class='footer-element'><a class='footerbutton' href='/contact.html'>Kontakt</a></li>
    </ul>
</div>
</body>
</html>