{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="contact-information">
        <div class="maxim">
            Maximillian Taft
            +41 225 185 333
            Stellvertretender Leiter der CFM
            Finanzabteilung Genevaoption
            M.Taft@genevaoption.com
            www.genevaoption.com
        </div>
        <div class="katarina">
            Katarina Schmidt
            +41 225 185 333
            Innendienstleiterin der CFM
            Finanzabteilung Genevaoption
            Katarina.S@genevaoption.com
            www.genevaoption.com
        </div>
    </div>
    <div class="logo">
        <a href="http://www.genevaoption.com/">
        <img class="logo" src="../../static/img/logo.png">
        </a>
    </div>
    <div class="support">
        <div class="trader">
                Trader
                923 Finchley Road,
                NW11 7PE, London, UK.
                +41 225 185 333
                Frank.a@genevaoption.com
                www.genevaoption.com
        </div>
        <div class="address">
                Geneva Option LTD
                Avenue des Morgines 12
                1213 Petit-Lancy - Genève,
                +41 225 185 333
                Support@genevaoption.com
                www.genevaoption.com
        </div>
    </div>
</div>
{% endblock %}