{% extends 'blog/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="contact-information">
        <div class="maxim">
            <p>Maximillian Taft</p>
            <p>+41 225 185 333</p>
            <p>Stellvertretender Leiter der CFM</p>
            <p>Finanzabteilung Genevaoption</p>
            <p>M.Taft@genevaoption.com</p>
            <p>www.genevaoption.com</p>
        </div>
        <div class="katarina">
            <p>Katarina Schmidt</p>
            <p>+41 225 185 333</p>
            <p>Innendienstleiterin der CFM</p>
            <p>Finanzabteilung Genevaoption</p>
            <p>Katarina.S@genevaoption.com</p>
            <p>www.genevaoption.com</p>
        </div>
    </div>
    <div class="logo">
        <img class="logo" src="../../static/img/logo.png">
    </div>
    <div class="support">
        <div class="trader">
                <p>Trader</p>
                <p>923 Finchley Road,</p>
                <p>NW11 7PE, London, UK.</p>
                <p>+41 225 185 333</p>
                <p>Frank.a@genevaoption.com</p>
                <p>www.genevaoption.com</p>
        </div>
        <div class="address">
                <p>Geneva Option LTD</p>
                <p>Avenue des Morgines 12</p>
                <p>1213 Petit-Lancy - Genève,</p>
                <p>+41 225 185 333</p>
                <p>www.genevaoption.com</p>
                <p>Support@genevaoption.com</p>
        </div>
    </div>
</div>
{% endblock %}