<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<!-- 	<meta name="viewport" content="width=device-width"> -->
	<link rel="stylesheet" href="../../static/css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="conteiner">
		<div class="conteiner__sponsors">
			<img class="conteiner__sponsor" src="../../static/img/sponsors/barclays.png" alt="">
			<img class="conteiner__sponsor" src="../../static/img/sponsors/dowjones.png" alt="">
			<img class="conteiner__sponsor conteiner__sponsor_reuters" src="../../static/img/sponsors/reuters.png" alt="">
			<img class="conteiner__sponsor conteiner__sponsor_london" src="../../static/img/sponsors/london.png" alt="">
			<img class="conteiner__sponsor conteiner__sponsor_nasdaq" src="../../static/img/sponsors/nasdaq.png" alt="">
		</div>
		<img class="conteiner__logo conteiner__logo_left" src="../../static/img/logo.jpg" alt="">
		<img class="conteiner__logo conteiner__logo_right" src="../../static/img/logo.jpg" alt="">
		<img class="conteiner__center-img" src="../../static/img/cent.jpg" alt="">
		<img class="conteiner__bottom-img" src="../../static/img/genevastamp.png" alt="">
	</div>
</body>
</html>