{% extends 'blog/base.html' %}
{% block content %}
    <div class='videos'>
        <ul>
            <li class='intro-video'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2iD3V144vw4" frameborder="0"
                        allowfullscreen></iframe>
            </li>
            <li class='intro-video'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L7rtik7r5-4" frameborder="0"
                        allowfullscreen></iframe>
            </li>
        </ul>
    </div>
    <div class="new-post">
        <a href="{% url 'blog.views.post_new' %}" class="post-menu"><span class="glyphicon glyphicon-plus">Add Post</span></a>
    </div>
    <br>
    <hr class='end-header'>
    <div>
        {% for post in posts %}
            <div class='post'>
                <h1 class='post-title'><a class='title-post'
                                          href='{% url 'post_detail' pk=post.pk %}'>{{ post.title }}</a></h1>
                <p class='post-text'>{{ post.text }}</p>
                <p class='post-pub'>Published: {{ post.published_date }} </p>
                <hr class='end-of-post'>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
