{% extends 'blog/base.html' %}
{% block content %}
    <div class="new-post">
        {% if user.is_authenticated %}
        <a href="{% url 'blog.views.post_new' %}" class="post-menu"><span class="glyphicon glyphicon-plus">Add Post</span></a>
        {% endif %}
    </div>
    <br>
    <div>
        {% for post in posts %}
            <div class='post'>
                <h1 class='post-title'><a class='title-post'
                                          href='{% url 'post_detail' pk=post.pk %}'>{{ post.title }}</a></h1>
                <p class='post-text'>{{ post.text }}</p>
                <p class='post-pub'>Published: {{ post.published_date }} </p>
                <hr class='end-of-post'>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
