{% load staticfiles %}
<html>
    <head>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <link rel="icon" type="image/png" href="../../static/img/tablogo.png">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../static/css/blog.css">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    </head>
    <body>
        <div class = "content">
            <div class="info-list">
                <ul class="info">
                    <li class='info-element'>Ein Treffen ist jederzeit möglich für unsere Vip Kunden</li>
                    <li class='info-element'>Wir handeln gezielt und sicher für Sie</li>
                    <li class='info-element'>Wir schließen Verträge</li>
                    <li class='info-element'>Wir arbeiten mit europäischen Banken</li>
                    <li class='info-element'>Wir bieten unseren Kunden einen Zinslosen Kredit an</li>
                </ul>
            </div>
            <div class="timer">
                <div>
                    <ul class="timer-indicator">
                        <li>Stunden</li>
                        <li>Minuten</li>
                        <li>Sekunden</li>
                    </ul>
                </div>
                <div>
                    <script src="../../static/css/timer.js"></script>
                </div>
            </div>
            <form action="" method="POST" class="post-form">{% csrf_token %}
                <div class="form-group has-feedback has-feedback-left">{{ form.user_name }}<i class=" form-control-feedback glyphicon glyphicon-envelope"></i></div>
                <div class="form-group has-feedback has-feedback-left">{{ form.email }}<i class="form-control-feedback glyphicon glyphicon-user"></i></div>
                <div class="form-group has-feedback has-feedback-left">{{ form.phone_number }}<i class="form-control-feedback glyphicon glyphicon-earphone"></i></div>
                <div class="g-recaptcha" data-sitekey="6LcWvCgTAAAAAGe6MLnvucEf0tC_uhsTFXdULSvt"></div>
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <div class='footer'>
            <ul class="footer-elements">
                <li class='footer-element'><a class='footerbutton' href=''>About</a></li>
                <li class='footer-element'><a class='footerbutton' href=''>Help</a></li>
                <li class='footer-element'><a class='footerbutton' href=''>Contacts</a></li>
            </ul>
        </div>
    </body>
</html>
