* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

.conteiner {

    max-width: 1920px;
    margin: auto;
    min-height: 500px;
    border-image: url('../img/b.jpg') 114 114 98 115 stretch stretch;
    border-color: #f4be52;
    border-style: inset;
    border-width: 60px;
    background-color: #fff1ce;
}
.advert{
    margin: 0 0 70px 0;
    text-align: center;
    font-family: 'Germania One', cursive;
    /*font-family: 'Germania One', cursive;*/
    font-size: 69px;
}
.advertising{
    background: #1bff0c ;
}

.conteiner__center-img {
    width: 1000px;
    margin: auto;
    display: block;
    /*margin-top: -120px;*/
}
.timerobject{
    margin-top: -50px;
}
.conteiner__logo {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 1;
    margin-bottom: -140px;
}

.post-form{
    display: inline-block;
}


.conteiner__logo_right {
    float: right;
    margin-right: 10px;
    margin-top: 18px;
}

.conteiner__logo_left {
    margin-left: 10px;
}

.conteiner__sponsor {
    height: 61px;
}

.conteiner__sponsors {
    text-align: center;
    width: 1116px;
    margin: auto;
    margin-top: -25px;
}

.conteiner__sponsor {
    position: relative;
}

.conteiner__sponsor {
    margin-left: 20px;
}

.conteiner__bottom-img {
    z-index: 0;
    width: 170px;
    display: block;
    margin: auto;
    margin-top: -176px;
}
.trust{
    position: absolute;
    z-index: 0;
    right: 0;
    margin-top: -10%;
    margin-right: 5%;
}
.sign{
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: -15%;
    margin-right: 7%;
}
.secretary{
    position: absolute;
    z-index: 0;
    right: 0;
    margin-top: -10%;
    margin-right: 72%;
}
.signsecretary{
    position: absolute;
    z-index: 0;
    right: 0;
    margin-top: -15%;
    margin-right: 3%;
}
.total-capital{
    display: inline-block;
    width: 40%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 70px;
    border: 2px solid black;
    background-color: rgba(255, 0, 0, 0.72);
}
.total-capital-label{
    margin:0;
    color: black;
    /*text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px  black;*/
    font-size:15px;
    text-align: center;
}
.total-capital-value{
    line-height: 100%;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px black;
    font-size: 400%;
}
.footer-sponsor{
    z-index:1;
    width: 40%;
    height: 60px;
    display:block;
    margin:0;
    margin-top: -109px;
}
.footer-sponsors-left{
    margin-left: 20px;
}
.footer-sponsors-right{
    float:right;
    width: 43%;
    margin-left: -17px;
    margin-top: -53px;
}
.registration, .info-list {
    display: inline-block;
}
.name{
    word-spacing: 2px;
    position: relative;
    font-weight: normal;
    text-align: center;
    font-size: 35px;
    letter-spacing: -3px;
    margin-top: -59px;
    padding-right: 11px;
    height: auto;
    z-index: 1;
    color: white;
    font-family: 'Black Ops One', cursive;
    text-shadow: -1px -1px 0 black, 4px -1px 0 black, -1px 1px 0 black, 5px 1px black;
}
.information{
    display: flex;
    width:350px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.wrapper{
    font-family: "Old English Text MT", "Germania One";
    font-size:25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-information{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 40px;
}
.logo{
    text-align: center;
    z-index: 1;
    height: 104px;
}
.support{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.maxim{
    text-align: center;
    padding-left: 178px;
}

.katarina{
    text-align: center;
    padding-right: 182px;
}
.trader{
    text-align: center;
    padding-left: 200px;
}
.address{
    padding-right: 165px;
}

.common-information{
    min-height: 500px;
    margin: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Old English Text MT;
}
.info-list {
    margin-top: -4%;
    margin-bottom: 8%;
    padding: 0 5%;
    min-height: 380px;
    max-width:60%;
    text-align: left;
}
@media only screen and (max-width: 900px) {
    .wrapper{
        font-family: "Old English Text MT", "Germania One";
        font-size:25px;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-information{
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-top: 40px;
    }
    .logo{
        text-align: center;
        z-index: 1;
        height: 104px;
    }
    .support{
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    .maxim{
        text-align: center;
        padding-left: 178px;
    }

    .katarina{
        text-align: center;
        padding-right: 182px;
    }
    .trader{
        text-align: center;
        padding-left: 200px;
    }
    .address{
        padding-right: 165px;
    }
    .info-list{
        max-width: 20%;
    }
    .info-element{
        max-width: 30%;
    }
    .trust{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -13%;
        margin-right: 5%;
    }
    .sign{
        position: absolute;
        z-index: 1;
        right: 0;
        margin-top: -18%;
        margin-right: 7%;
    }
    .secretary{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -13%;
        margin-right: 3%;
    }
    .signsecretary{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -18%;
        margin-right: 70%;
    }

}
.info-element{
    font-size: 30px;
    font-weight: bolder;
}

.registration {
  margin-bottom: -5%;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.thanks{
    min-height: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch ;
    align-content: stretch;
}
.wr-ifo {
    min-height: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch ;
    align-content: stretch;
}

.form-control:focus{
    border-color: #494b37;
}
input#inputSuccess2 .has-error .form-control-feedback {
    background-color: #a94442 !important;
}
input#inputSuccess2 .has-success .form-control-feedback {
    background-color: #3c763d !important;
}

.description{
    font-size: 20px;
    font-weight: bolder;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.form-control{
    height:50px;
    width: 349px!important;
    /*padding: 6px 0!important;*/

}
.glyphicon-earphone, .glyphicon-envelope, .glyphicon-user{
    top:9px;
    left: 312px;
}
input#inputSuccess2.form-control{
    padding-left: 15px;
}
.footer-element {
    display:inherit;
    font-size: 18px;
    margin-left: 30px;
}
.glyphicon-earphone{

}

.g-recaptcha{
    transform: scale(1.15, 1);
    transform-origin: 0 0;
}

.footer {
    z-index: 0;
    margin-top: 23px;
    margin-left: 105px;
}
.footer-elements{
    display:inline-block;
    margin-bottom: 0;
}

.footerbutton {
    text-decoration: none;
    font-family: 'Germania One', cursive;
    color: black;
}

.footerbutton:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .conteiner__logo_right{
        margin-top: 19px;
    }
    .conteiner__logo_left{
        margin-top: -141px;
    }
    .conteiner__sponsor {
        width: 150px;
        margin-left: 30px;
    }

    .conteiner__sponsors {
        width: 90%;
    }
    .conteiner__sponsor_nasdaq{
        margin-left: 50px;
    }
    .conteiner__sponsor_reuters{
        margin-left: 80px;
    }
    .contact-form{
        width: 353px;
    }
}

@media only screen and (max-width: 1270px) {
    .name{
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.2px;
    margin-top: -38px;
    padding-right: 8px;
    height: auto;
    z-index: 1;
    color: white;
    font-family: 'Teko', sans-serif;
    text-shadow: -1px -1px 0 black, 4px -1px 0 black, -1px 1px 0 black, 2px 1px  black;
    }
    .conteiner{
        margin: auto;
        min-height: 100%;
        border-image: url('../img/b.jpg') 114 114 98 115 stretch stretch;
        border-color: #f4be52;
        border-style: inset;
        border-width: 60px;
        background-color: #fff1ce;
    }
    .conteiner__center-img {
        width: 800px;
    }

    .conteiner__logo {
        width: 150px;
    }

}
/*@media only screen and (max-height: )*/
@media only screen and (max-width: 1270px) {
    .info-list{
        max-width: 60%;
    }
    .conteiner__center-img {
        width: 600px;
    }

    .conteiner__logo {
        width: 150px;
    }
    .conteiner__logo_left {
        margin-top: -34px;
    }
    .trust{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -13%;
        margin-right: 5%;
    }
    .sign{
        position: absolute;
        z-index: 1;
        right: 0;
        margin-top: -18%;
        margin-right: 7%;
    }
    .secretary{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -13%;
        margin-right: 72%;
    }
    .signsecretary{
        position: absolute;
        z-index: 0;
        right: 0;
        margin-top: -18%;
        margin-right: 3%;
    }
}
.info-element{
    font-family: "Old English Text MT", "Dancing Script", cursive;
    /*font-family: 'Dancing Script', cursive;*/
}
.indicator{
    width:100%;
}
.indicator-item {
    display: inline-block;
    font-family: 'Suez One', serif;
}
.indicator-item:nth-child(2) {
    padding: 0 46px 0 57px;
}
.btn-primary{
    margin-right: 0px;
    margin-top: 6px;
    background-image: linear-gradient(to bottom, #006622 0,#66ff99 100%);
    background-repeat: repeat-x;
    border: 1px solid black;
    vertical-align: center;
    color: black;
    width: 350px;
    height: 46px;
}
.send{
    margin:0;
    color: #fff1ce;
    font-size: 32px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px  black;
    font-weight: bold;;
}

.count-of-users{
    margin-top: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
    border: 2px solid black;
    background-color: #33FFD7;
}

.number{
    margin-bottom: -9px;
    font-size: 37px;
    padding-bottom: 9px;
    line-height: 0.9;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px  white;
}
.count{
    margin:0;
}
.btn-primary:hover{
    background: linear-gradient(to top, #006622 0,#66ff99 100%) !important ;
}
.glyphicon-send{
    padding: 0 10px 0 0;
}


.contact-form{
    text-align: center;
    width: inherit;
}
.form-group{
    width: 300px;
}

/*@media only screen and (max-width: 960px) {
	.conteiner__center-img {
		width: 400px;
	}
	.conteiner__logo {
		width: 100px;	
	}
	.conteiner__logo {
		margin-bottom: 0px;
	}
}*/