div.header-background {
    width:100%;
    height:58%;
    background-image: url('../img/top.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain ;
}
div.content-background {
    width:100%;
    height:14.82%;
    background-image: url('../img/sample.jpg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain ;
}
div.footer-background {
    width:100%;
    height:26.356%;
    background-image: url('../img/bot.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain ;
}