.background{
    width:100%;
    position: relative;
}
div.header-background {
    width:100%;
    background-image: url('../img/top.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
div.content-background {
    width:100%;
    background-image: url('../img/sample.jpg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
div.footer-background {
    width:100%;
    background-image: url('../img/bot.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
}